<ion-view view-title="Home">
  <ion-content>
    <!-- Error message -->
    <h3 class="error-message" ng-show="isEmpty()">No lists were found!</h3>
        
    <ion-list>
      <ion-item ng-repeat="list in data.lists" ng-click="chooseList($index)" href="#/app/home/list">
        {{list.title}}
        
        <!-- Info button -->
        <ion-option-button class="button-balanced ion-information-circled" ng-click="toggleGoalVisibility($index)">
        </ion-option-button>
          
        <!-- Delete button -->
        <ion-option-button class="button-assertive ion-trash-b" ng-click="deleteList($index)">
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
    
  <!-- Popup message -->
  <div class="popup" ng-show="states.showGoal" ng-click="toggleGoalVisibility(0)">
    <div class="popup-message">
      <h4>{{data.lists[data.index].title}}</h4>
      <p>{{data.lists[data.index].goal}}</p>
      <i>{{getCompletedTasks()}}/{{getTotalTasks()}} Complete</i>
    </div>
  </div>
    
  <!-- Add Button -->
  <div class="fixed-outside">
    <a class="button button-circle button-energized icon ion-plus" href="#/app/home/newList"></a>
  </div>
</ion-view>