<ion-view cache-view="false" view-title="{{data.lists[data.index].title}}">
  <ion-header class="bar bar-stable bar-subheader">
    <a class="button icon ion-plus" href="/#/app/home/newTask"></a>
    <h1 class="title">Tasks</h1>
    <button class="button icon ion-minus" ng-click="toggleDelete()"></button>
  </ion-header>

  <ion-content class="has-subheader">
    <div class="list" ng-show="data.showAdd">
      <div class="item item-input-inset">
        <label class="item item-input-wrapper">
          <input type="text" placeholder="Task" ng-model="data.newTask">
        </label>
        
        <button class="button button-small button-positive" ng-click="addNewTask()">Add</button>
      </div>
    </div>
      
    <!-- Meesage which is shown when the list has no tasks associated -->
    <h3 class="error-message" ng-show="isEmpty()">This list is empty!</h3>
      
    <ion-list show-delete="states.showDelete">
      <ion-item ng-repeat="task in data.lists[data.index].tasks">
          <label class="checkbox">
            <input class="task-checkbox" type="checkbox" ng-model="task.completed" ng-change="save()">
            <span class="task-title">{{task.title}}</span>
          </label>

          <ion-delete-button class="ion-minus-circled" ng-click="deleteTask($index)">
          </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
