<ion-view view-title="Search">
  <ion-content>
    <div class="list list-inset">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Search" ng-model="data.searchTerm">
        </label>

        <button class="icon ion-search" ng-click="search()"></button>
      </div>
      
      <!-- Message thats shown when the search returns no results -->
      <h3 class="error-message" ng-show="isEmpty()">No results found!</h3>    
        
      <ion-list class="item" ng-show="!isEmpty()">
        <ion-item ng-repeat="task in data.results">
          <label class="checkbox">
            <input class="task-checkbox" type="checkbox" ng-model="task.completed" ng-change="save()">
            <span class="task-title">{{task.title}}</span>
          </label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>